@tailwind base;
@tailwind components;
@tailwind utilities;


* {

  box-sizing: border-box;

}


html {

  scroll-behavior: smooth;

}


body {

  background: #ffffff;

  color: #071228;

}

.input {
  @apply w-full border rounded-2xl px-5 py-4 outline-none focus:ring-2 focus:ring-orange-400;
}


.container-custom {

  width: 90%;

  max-width: 1280px;

  margin: auto;

}


.section-padding {

  padding-top: 5rem;

  padding-bottom: 5rem;

}